* {
  box-sizing: border-box;
}

body, html {
  font-family: "Century Gothic", "sans serif";
  color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  overflow-x: hidden;
}

.bg {
  background-color: #1e1f26;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.level {
  background-color: #00d1b2;
  padding: 5rem 0;
  color: #ffffff;
  margin: 0 !important;
}

/* BOOTSTRAP */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/* END BOOTSTRAP */

/*----------------------- Preloader -----------------------*/
/* body.preloader-site {
  overflow: hidden;
} */

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 120px;
}

/* NAVBAR */
.navbar {
  z-index: 30;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 75px;
  background: white;
}

.mainMenu{
  height: 100%;
}

.search{
  align-self: center;
}

.mainMenu a, .nav-btn a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}

.mainMenu a:visited {
  color: black;
}

.mainMenu a:hover{
  text-decoration: underline;
}

.logo {
  margin-left: 15px;
}

.mainMenu>ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navbar img {
  width: 100%;
  height: 70px;
}
/* SEARCH BAR */
.search a{
  padding:0;
}

#search-icon{
  position: relative;
  right:30px;
}
/* END SEARCH BAR */
/* END NAVBAR */

/* CAROUSEL */
#myCarousel{
  padding-top: 70px;
  margin: auto;
  height: 100vh;
}

.carousel-item{
  height: 100vh;
  overflow: hidden;
}

.carousel-caption{
  top: 2%;
}

.carousel-caption span{
 display: inline-block;
 max-width: 75%;
 background: rgba(255,255,255,0.7);
 color: black;
}

.carousel-caption p{
  font-size: 35px;
  text-shadow: rgba(19, 18, 18, 0.5) 1px 0 10px;
  margin: 2px;
  color: white;
  background-color: rgba(0,0,0,0.6);
  border: black;
  padding: 2px;
  font-family: "Century Gothic";
}

.carousel-item img {
  height: 736px;
  width: 1400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-control-prev{
  top: -150px;
  left: -50px;
}

.carousel-control-next{
  right: -50px;
  top: -150px;
}

.carousel-control-prev-icon{
  height: 40px;
  width: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon{  
  height: 40px;
  width: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-next, .carousel-control-prev {
  opacity: 0.6;
}

.carousel-indicators{
  bottom: 150px;
}

.carousel-indicators li{
  height: 8px;
  width: 50px;
  background-color: black;
}

.discover{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background: linear-gradient(45deg, #05abe0 0%, #2d71b6 100%);
  position: relative;
  margin: 0 auto;
}

.discover1{
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background: linear-gradient(45deg, #05abe0 0%, #2d71b6 100%);
  position: relative;
  width: 300px;
  margin : 0 auto;
  text-align: center;

}
/* END CAROUSEL */

/* HOME PAGE */
.categories{
  margin: 50px 0 120px 0;
}

.categories h1{
  font-family: "Century Gothic";
  text-align: center;
}

.categories .title{
  color: #777777;
  text-align:center; 
  padding:0;
}

.places h2{
  text-align: center;
}

.inside{
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.content img{
    width: 276px;
    height: 276px;
    cursor: pointer;
    margin: 10px 5px 0 5px;
}

.salle-a-manger, .bureau, .boiseries, .salon, .salle-de-bain, .facade, .chambre, .cuisine, .fer, .sol{
  transition: transform .2s;
  position: relative;
}

.salle-a-manger:hover, .bureau:hover, .boiseries:hover, .salon:hover, .salle-de-bain:hover, .facade:hover, .chambre:hover, .cuisine:hover, .fer:hover, .sol:hover{
    -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.inside span{
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    display: none;
    width: 95%;
    font-size: 30px;
    text-shadow: rgba(19, 18, 18, 0.5) 1px 0 10px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    border: black;
    padding: 2px;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
/* Animate numbers */
.data{
  margin: 150px 0; 
  display: flex;
  width: 100%;
}

.data .col-md-4 {
  text-align: center;
  padding-bottom: 50px;
  border-right: 1px dashed black;
  flex: 1;
}

.data .col-md-4:last-child {
  border-right: 0px solid black;
  justify-content: flex-end;
}

.purecounter {
  font-size: 52px;
  font-family: "Century Gothic";
}

.data img {
  width: 100px;
  height: 100px;
}

@media (max-width: 991px) {
  .data .col-md-4 {
    border-right: 0px dashed black;
    border-bottom: 1px dashed black;
    width: 50%;
    margin: auto auto;
  }
  
  .data .col-md-4:last-child {
    border-bottom: 0px dashed black;
  }

}

.col-md-4 span, .col-md-4 h1, .col-md-4 h3 , .col-md-4 h2{

  font-size: 2.5rem;
  font-family: "Century Gothic";
}
/* END Animate numbers */
.parallax{
    background: url('../pictures/parallax.jpg') fixed no-repeat;
    background-size: cover;
    position: relative;
}

.parallax .row{
  margin-left: 45%;
  margin-right: 100px;
  text-align: center;
  align-items: center;
}

.presentation img{
  width: 80px;
  height: 80px;
}

.presentation h2, .presentation p{
  color: white;
}

.presentation h1{
  max-width: 500px;
  text-align: center;
  background: rgba(255,255,255,0.7);
  text-shadow: rgba(19, 18, 18, 0.5) 1px 0 10px;
  font-weight: bold;
  font-family: "Century Gothic";
  position: absolute;
  right: 25%;
}

.col-lg-6:first-child{
  margin-top: 80px;
}

.col-lg-6:nth-child(2){
  margin-top: 80px;
}

.features{
  margin-top: 50px;
}
.info2 h1{
  font-family: "Century Gothic";
  text-align: center;
}

.qualite img{
  width: 120px;
  height: 100px;
}

.entete{
  display:flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.entete p{
  text-align: center;
}

.entete1, .entete2, .entete3{
  display : flex;
  align-self: center;
  margin: auto;
  padding: 0 20px;
}

.entete-1, .entete-2, .entete-3{
  align-self: center;
  margin: auto;
  padding: 0 20px;
}

.entete1 small, .entete-2 small, .entete-3 small{
  letter-spacing: 5px;
  color: grey;
}

.entete-img img, .entete2-img img, .entete3-img img{
  width: 680px;
  height: 473px;
}

.info h1{
  text-align: center;
  font-family: "Century Gothic";
}

/* PARTNERS SLIDER */
.partners{
  margin-bottom: 50px;
}

.partners h1{
  text-align: center;
  font-family: "Century Gothic";
}

.partners-logo{
  width: 100vw;
  overflow: hidden;
  max-width: 1000px;
  max-height: 400px;
  margin: 0 auto;
  display: flex!important;
  align-items: center;
}

.slick-slide {
  margin: 0px 50px;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  float:none;
}

.slick-slide img {
  width: 200px;
  height: 150px;
}

.slick-slide.c {
  display: inline-block;
  vertical-align: middle;
  float:none;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* END PARTNERS SLIDER */
.services{
  margin: 100px 0;
}

.services h1{
  text-align: center;
  font-family: "Century Gothic";
}

.info{
  display : flex;
  justify-content: space-evenly;
  align-items: center;
}

.info div{
  max-width: 150px;
  text-align: center;

}

.info p{
  text-align: center;
  margin: 0 auto;
}

.info2{
  margin : 0px 0 100px 0;
}

.info3{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* END HOME PAGE */

/* FOOTER */
.footer-cta .row{
  flex-wrap:nowrap;
}

footer ul {
  margin: 0px;
  padding: 0px;
}

.agencies h1{
  color: white;
  font-size: 18px;
  width: 100px;
}

.agencies h1:first-child{
  margin: 50px 0 40px 0;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.cta-text {
  padding-left: 15px;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text p {
  color: #757575;
  font-size: 15px;
  margin: 0;
}

.cta-text hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ff5e14;;
  width: 200px;
  margin-right: 180px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon{
  margin-top:50px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.footer-widget-heading h3, .footer-widget h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before, .footer-widget h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #ff5e14;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text{
  display: flex;
  width: 100%;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  width: 100%;
}

.copyright-area .row{
  justify-content: center;
}

.footer-widget-heading table td{
  color: #878787;
}
/* ENDFOOTER */
/* END HOME PAGE /*
/* PRODUCT PAGE */
.products-search{
  max-width: 30%;
}

.products{
  margin-top: 50px;
}

.products h1{
  text-align: center;
  margin: 150px 0;
}

.products-container{
  display: flex;
}

.boucle{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin: auto;
}

.boucle a, .boucle a:hover, .boucle a:visited, .boucle a:active{
  text-decoration: none;
  color: black;
}

.paginator{
  align-self: flex-end;
}

.product-item{
  max-width: 350px;
}

#categories{
  display: flex;
  flex-direction: column;
}

.card{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.products-search a, .products-search a:hover, .products-search a:visited, .products-search a:active{
  text-decoration: none;
  color: black;
}

.products-search h2{
  border-bottom: 1px solid black;
  font-size: 20px;
}

.products-search h2:hover{
  background-color: transparent;
}

.block{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0 10px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  scroll-behavior: smooth;
}

.hidden{
  max-height: 0;
  overflow: hidden;
  transition: 0.8s ease-out;
  background-color: #f1f1f1;
}

.test{
  color: red;

}

.hidden{
  height: auto;
}

.form-group {
margin:0;
}

.search-field::placeholder{
  font-size : 13.2px;
}


.fa-chevron-down{
  float: right;
}




#filters{
  max-width: 15%;
  width: 100%;
  float: left;
}


.products ul {
  list-style: none;
}

.products a {
  text-decoration: none;
}

.accordion-menu {
  width: 100%;
}

.accordion-menu li.open .dropdownlink .fa-chevron-down {
  transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0;
}

.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 15px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  color: #212121;
  position: relative;
  transition: all 0.4s ease-out;
  width: 100%;
}

.dropdownlink i {
  position: absolute;
  top: 17px;
  left: 16px;
}

.dropdownlink .fa-chevron-down {
  right: 12px;
  left: auto;
}

.submenuItems {
  display: none;
}

.submenuItems a {
  display: block;
  padding: 5px 0 0 5px;
  transition: all 0.4s ease-out;
}

/* END PRODUCT PAGE */